@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i');


html,body{
    font-family:"Raleway";
    font-size:16px;
    margin:0 auto;
    height:100%;
    width:100%;
}
.sign-up-form {
    position: relative;
}
.header-container img{
    height:auto;
    max-width:100%
}
.header-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    width:100%;
    height:100px;
}
.logo{
    flex:0 1 40%;
    order:1;
    max-width:120px;
    min-width:120px;
    padding-left:20px;
    padding-top:20px;
}
a:link, a:visited {
    color: #e2574c;
    text-decoration: none;
}

a:hover, a:active {
    color: #b64036;
   }


.navList{
    display:flex;
    text-transform: uppercase;
    flex:0 1 90%;
    justify-content:space-between;
    order:2;
    align-self:center;
    width:50px;
    margin:0 auto;
    padding:0;
    padding-top:20px;
    border:#d7d7d7;
    border-top-width: 1px;
    border-top-style:solid;
}

.navList a{
    text-decoration:none;
    color:#e2574c;
}

.navList li{
    display:flex;
}

.shopping-cart{
    padding-right:20px;
    flex:0 1 40%;
    order:3;
    max-width:50px;
    min-width:50px;
    padding-top:16px;
}

.header-container > .logo {order:1;}
.header-container > .navList {order:3;}
.header-container > .shopping-cart {order:2;}

.banner{

    background:
                linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,.25)),
                url("images/banner-girl.png") center bottom no-repeat,
                url("images/flower-bkgd.jpg") center center no-repeat;
    background-size: cover, contain,cover;
    height: 550px;
    width:100%;
    text-align: center;
    top:50%;
    line-height:15px;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);

}
.collection {
    font-size:1.25rem;
    text-transform: uppercase;
}
.season{
    font-size: 2rem;
    font-weight:normal;
    font-family: "Playfair Display";
    width:100%
}
.banner p{
    position: relative;
    top: 200px;
    color: white;
}
.about-text-container{
    text-align: center;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    height:200px;
    margin-top:0px;
    line-height:200%
}
.about-text-container h2{
    font-family: "Playfair Display";
    font-style:italic;
    font-size:2rem;
    font-weight:normal;
}
.span-style{
    font-family: "Playfair Display";
    font-size:2rem;
    font-style:normal;
    font-weight:bold;
}
.shop-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 6px;
    margin: 0 auto;
    grid-template-areas:"mens mens mens mens"
    "trends trends glasses glasses"
    "sales sales bags bags"
    "womens womens womens womens";
    text-transform: uppercase;
}
.product-mens{
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
                url(images/mens-category.jpg);
    background-size: cover;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:mens;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}
.product-trends{
   background:  linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
                url(images/trends-category.jpg);
   background-size: cover;
   display:flex;
   align-items:center;
   justify-content:center;
    color:white;
    font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:trends;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.product-glasses{
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
                url(images/glasses-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:glasses;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}
.product-sale{

    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
                url(images/sale-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:sales;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}
.product-bags{

    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
                url(images/bags-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:bags;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}
.product-women{
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
                url(images/womens-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:womens;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}
.most-loved{
    text-align:center;
    font-size: 2rem;
    font-style: italic;
    font-family: "Playfair Display";
    font-weight:normal;
    margin-top:40px;
    margin-bottom:70px;
}
.featured-1{
    text-align:center;
    font-size:0.8rem;
    color:#969696;
    text-transform: uppercase;
}
.featured-2{
    text-align:center;
    font-size:1.4rem;
    font-family: "Playfair Display";
    color:#e2574c;
}
.featured-3{
    text-align:center;
    color:#969696;
}
.button_group{
    text-align:center;
}
.sign-up-container{
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,.25)),
    url("images/wave-bkgd.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 350px;
    width:100%;
    margin-bottom:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    line-height:200%;
    margin-top:50px;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}
.sign-up-container2{
    text-align:center;
}
.updates{
    font-style:normal;
    font-weight:bold;
}
.sign-up-title{
    font-family: "Playfair Display";
    font-style:normal;
    font-size:2rem;
    color:white;
    font-style:italic;
    font-weight:normal;

}
.sign-up-body{
    color:white;
    width:530px;
    font-size:1rem;
    font-weight: 350;
    width:100%;
}
input[type=email]{
    border:0;
    border-radius:25px;
    width:60%;
    padding:1rem;
    box-sizing: border-box;
  }
input[type=submit] {
    position:absolute;
    border:0;
    border-radius:25px;
    top:50%;
    transform:translateY(-50%);
    right: 21%;
    padding:.7rem;
    cursor:pointer;
    background-color: #e2574c;
    position:absolute;
}
.input-text{
    font-family:"Raleway";
    font-size:1rem;
    font-weight:lighter;
    color: #969696;
}
.submit-text{
    font-family:"Raleway";
    font-size:1rem;
    font-weight:bold;
    color:white;
    position:absolute;
    right:5px;
}
.footer{
    text-align:center;

}

.footer-container{

    font-family: "Playfair Display";
    align-items:center;
    height:100%;
    background-color:#242424;
    color:white;
    padding-top: 5px;
    padding-left:20px;
    padding-right:20px;
    font-size:13px;
}
.footer-container a{
    color:white;
    display: inline-block;
}
.about{
    margin-top:70px;
}
.copyright{
    line-height:50%;
}
.contact{
    line-height:50%;
    padding-top:5px;
    padding-bottom:5px;
}
.social-media{
    margin: 0 auto;
    display:flex;
    list-style-type:none;
    margin-bottom:50px;
    font-family:"Raleway";
    margin-top:50px;
    justify-content:space-between;
    min-width:130px;
    max-width:130px;
}
.address{
    line-height:50%;
    color:#969696;
}
.cancel-social{
    display: none;
}
.carousel-cell {
    width:100%;
    text-align:center;
}
.text-for-HCS{
    font-weight:lighter;
}
@media(min-width:600px){
    .header-container{
        display:flex;
        flex-wrap:nowrap;
        justify-content:space-between;
        height:100px;
        flex-wrap:nowrap;
    }
    .logo{
        display:flex;
        flex:0 1 30%;
        order:1;
        max-width:160px;
        padding:0;
        padding-left:20px;
    }
    .navList{
        display:flex;
        text-align:center;
        flex:1 1 30%;
        justify-content:space-between;
        order:2;
        align-self:center;
        width:300px;
        border-top-style:hidden;
        padding-right:8px;
        max-width:350px;
    }
    .navList li{
        display:flex;
    }
    .shopping-cart{
        display:flex;
        flex:0 1 20%;
        order:3;
        max-width:65px;
    }
.header-container > .logo {order:1;}
.header-container > .navList {order:2;}
.header-container > .shopping-cart {order:3;}

.banner{
    background: url("images/banner-girl.png"), linear-gradient(180deg,rgba(0,0,0,.25))
                url("images/flower-bkgd.jpg"), linear-gradient(0deg,rgba(0,0,0,.25));
    background-position: bottom center;
    height: 550px;
    width:100%;
    text-align: center;
    top:50%;
    line-height:15px;
}
.season{
    font-size: 4rem;
    font-weight:normal;
    font-family: "Playfair Display";
    width:100%
}
.most-loved{
    text-align:center;
    font-size: 2.5rem;
    font-style: italic;
    font-family: "Playfair Display";
    font-weight:normal;
    margin-top:60px;
    margin-bottom:70px;
}
.about-text-container h2{
font-size:2.5rem;
}
.about-text-container {
    font-size:1.2rem;
    text-align:center;
    }
.text-for-HCS{
    width:700px;
    font-weight:lighter;
}
.span-style{
    font-size:2.5rem;
}
.shop-container{
    display: grid;
    grid-template-rows:200px 200px;
    grid-gap:6px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas:"mens mens trends glasses"
    "sales bags womens womens";
}
.product-mens{
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
    url(images/mens-category.jpg);
    background-size: cover;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:mens;
}
.product-trends{
   background:linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
   url(images/trends-category.jpg);
   background-size: cover;
   display:flex;
   align-items:center;
   justify-content:center;
    color:white;
    font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:trends;
}
.product-glasses{
    background:linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
    url(images/glasses-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:glasses;
}
.product-sale{
    background:linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
    url(images/sale-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:sales;
}
.product-bags{
    background:linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
    url(images/bags-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:bags;
}
.product-women{
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
    url(images/womens-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:womens;
}
.carousel{
    height:500px;
    margin-bottom:75px;
    text-align:center;
}
.carousel-cell {
    width:50%;
}
.sign-up-body{
    color:white;
    width:650px;
    font-size:1.1rem;
    font-weight: 350;
}
.sign-up-title{
    font-family: "Playfair Display";
    font-size:2.3rem;
    color:white;
    font-style:italic;
    font-weight:normal;
    margin-bottom:30px;
}
.sign-up-form{
    box-sizing: border-box;
    margin-top:30px;
    width:90%;
    align-items:center;
    justify-content:flex-end;
    position: relative;
}
.footer{
    text-align:left;
}
.footer-container{
    font-family: "Playfair Display";
    align-items:center;
    height:100%;
    background-color:#242424;
    color:white;

    padding-left:50px;
    padding-right:30px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.about{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    font-size:1rem;
    padding-bottom:90px;
}
.contact{
    padding:0;
}
.social-media{
    list-style-type:none;
    font-family:"Raleway";
    display:flex;
    padding-right:4em;
    flex-direction:column;
    font-size:1rem;
    padding-bottom:40px;
    font-weight:lighter;
    line-height:35px;
    margin: 0;
}
.cancel-social {
    display:flex;
}

}
input[type=submit] {
    position:absolute;
    border:0;
    border-radius:25px;
    top:50%;
    transform:translateY(-50%);
    right: 21%;
    max-width:300px;
    padding:.7rem;
    cursor:pointer;
    background-color: #e2574c;
    position:absolute;
}
@media (min-width: 1240px) {
a:hover, a:active {
    color: #b64036;
   }
    .header-container{
        display:flex;
        flex-wrap:nowrap;
        justify-content:space-between;
        height:100px;
        flex-wrap:nowrap;
    }
    .logo{
        display:flex;
        flex:0 1 30%;
        order:1;
        max-width:160px;
        padding:0;
        padding-left:20px;
    }
    .navList{
        display:flex;
        text-align:center;
        flex:0 1 30%;
        justify-content:space-between;
        order:2;
        align-self:center;
        width:350px;
        border-top-style:hidden;
        padding-right:60px;
    }
    .navList li{
        display:flex;
    }
    .shopping-cart{
        display:flex;
        flex:0 1 20%;
        order:3;
        max-width:65px;
    }
.header-container > .logo {order:1;}
.header-container > .navList {order:2;}
.header-container > .shopping-cart {order:3;}

.banner{

    background: url("images/banner-girl.png"), linear-gradient(180deg,rgba(0,0,0,.25))
                url("images/flower-bkgd.jpg"), linear-gradient(0deg,rgba(0,0,0,.25));
    background-position: bottom center;
    height: 550px;
    width:100%;
    text-align: center;
    top:50%;
    line-height:15px;
}
.season{
    font-size: 4rem;
    font-weight:normal;
    font-family: "Playfair Display";
    width:100%
}
.most-loved{
    text-align:center;
    font-size: 2.5rem;
    font-style: italic;
    font-family: "Playfair Display";
    font-weight:normal;
    margin-top:60px;
    margin-bottom:70px;
}
.about-text-container h2{
font-size:2.5rem;
}
.about-text-container {
    font-size:1.2rem;
    text-align:center;
    }
.text-for-HCS{
    width:700px;
    font-weight:lighter;
}
.span-style{
    font-size:2.5rem;
}
.shop-container{
    display: grid;
    grid-template-rows:300px 300px;
    grid-gap:6px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas:"mens mens trends glasses"
    "sales bags womens womens";
}
.product-mens{
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
    url(images/mens-category.jpg);
    background-size: cover;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:mens;
}
.product-trends{
   background:linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
   url(images/trends-category.jpg);
   background-size: cover;
   display:flex;
   align-items:center;
   justify-content:center;
    color:white;
    font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:trends;
}
.product-glasses{
    background:linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
    url(images/glasses-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:glasses;
}
.product-sale{
    background:linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
    url(images/sale-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:sales;
}
.product-bags{
    background:linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
    url(images/bags-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:bags;
}
.product-women{
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,.25)),
    url(images/womens-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:womens;
}
.carousel{
    height:500px;
    margin-bottom:75px;
    text-align:center;
}
.carousel-cell {
    width:25%;
 
}
.sign-up-body{
    color:white;
    width:650px;
    font-size:1.1rem;
    font-weight: 350;
}
.sign-up-title{
    font-family: "Playfair Display";
    font-size:2.3rem;
    color:white;
    font-style:italic;
    font-weight:normal;
    margin-bottom:30px;
}
.sign-up-form{
    margin-top:30px;
}
.footer{
    text-align:left;
}
.footer-container{
    height:100%;
    font-family: "Playfair Display";
    align-items:center;
    height:100%;
    background-color:#242424;
    color:white;

    padding-left:50px;
    padding-right:30px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.about{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    font-size:1rem;
    padding-bottom:90px;
}
.contact{
    padding:0;
}
.social-media{
    list-style-type:none;
    font-family:"Raleway";
    display:flex;
    padding-right:4em;
    flex-direction:column;
    font-size:1rem;
    padding-bottom:40px;
    font-weight:lighter;
    line-height:35px;
}
.cancel-social {
    display:flex;
}
}