html,body{
    font-family:"Raleway";
    font-size:16px;
    margin:0 auto;
    height:100%;
    width:100%;
}

.container{


    
}

.header-container img{
    height:auto;
    max-width:100%
}

.header-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    width:100%;
    height:100px;
    

}

.logo{
    flex:0 1 40%;
    order:1;
    max-width:120px;
    min-width:120px;
    padding-left:20px;
    padding-top:20px;
}

.navList{
    display:flex;

    flex:0 1 90%;
    justify-content:space-between;
    order:2;
    align-self:center;
    width:50px;
    margin:0 auto;
    padding:0;
    padding-top:20px;
    border:#d7d7d7;
    border-top-width: 1px;
    border-top-style:solid;




}

.navList a{
    text-decoration:none;
    color:#e2574c;

}

.navList li{
    display:flex;
}

.shopping-cart{
    padding-right:20px;
    flex:0 1 40%;
    order:3;
    max-width:50px;
    min-width:50px;
    padding-top:16px;
}

.header-container > .logo {order:1;}
.header-container > .navList {order:3;}
.header-container > .shopping-cart {order:2;}

.banner{

    background: 
                url("images/banner-girl.png"),
                url("images/flower-bkgd.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain,cover;
    background-position: bottom center;
    background-repeat: no-repeat, no-repeat;
    height: 550px;
    width:100%;
    text-align: center;
    top:50%;
    line-height:15px;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);

}

.collection {
    font-size:1.25rem;

}

.season{
    font-size: 2rem;
    font-weight:normal;
    font-family: "Playfair Display";
    width:100%
}

.banner p{
    position: relative;
    top: 200px;
    color: white;
}

.about-text-container{
    text-align: center;

    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    height:200px;
    margin-top:0px;
    line-height:200%
}

.about-text-container h2{
    font-family: "Playfair Display";
    font-style:italic;
    font-size:2rem;
    font-weight:normal;


}

.span-style{
    font-family: "Playfair Display";
    font-size:2rem;
    font-weight:bold;

}


.shop-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 6px;
    margin: 0 auto;
    grid-template-areas:"mens mens mens mens"
    "trends trends glasses glasses"
    "sales sales bags bags"
    "womens womens womens womens";
}

.product-mens{

    background: url(images/mens-category.jpg);
    background-size: cover;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:mens;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}
.product-trends{

   background:url(images/trends-category.jpg);
   background-size: cover;
   display:flex;
   align-items:center;
   justify-content:center;
    color:white;
    font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:trends;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.product-glasses{

    background:url(images/glasses-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:glasses;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.product-sale{

    background:url(images/sale-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:sales;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}


.product-bags{

    background:url(images/bags-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:bags;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.product-women{

    background: url(images/womens-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:1.5rem;
    background-repeat: no-repeat;
    grid-area:womens;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);

}
.most-loved{
    text-align:center;
    font-size: 2rem;
    font-style: italic;
    font-family: "Playfair Display";
    font-weight:normal;
    margin-top:40px;
    margin-bottom:70px;
}

.sign-up-container{
    background: url("images/wave-bkgd.jpg");
    background-repeat: no-repeat;
  
    background-position: bottom center;
    height: 350px;
    width:100%;
    margin-bottom:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    line-height:200%;
    margin-top:50px;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
    

}

.sign-up-container2{
    text-align:center;
}

.updates{
    font-style:normal;
    font-weight:bold;
}

.sign-up-title{
    font-family: "Playfair Display";
    font-style:normal;
    font-size:2rem;
    color:white;
    font-style:italic;
    font-weight:normal;

}

.sign-up-body{
    color:white;
    width:530px;
    font-size:1rem;
    font-weight: 350;
}


.footer{
    text-align:center;
}

.footer-container{
    font-family: "Playfair Display";
    align-items:center;
    height:300px;
    background-color:#242424;
    color:white;
    border:1px solid;
    padding-left:20px;
    padding-right:20px;
    font-size:13px;
}

.footer-container a{
    color:white;



}

.about{
    margin-top:70px;
}

.copyright{
    line-height:50%;

}

.contact{
    line-height:50%;
    padding-top:5px;
    padding-bottom:5px;
}

.social-media{
    display:flex;
    list-style-type:none;
    padding-right:50px;
    font-family:"Raleway";
    margin-top:50px;
    line-height:50%;
}

.address{
    line-height:50%;
    color:#969696;
}

.cancel-social{
    visibility: hidden;
}





@media (min-width: 480px) {

    .header-container{
        display:flex;
        flex-wrap:nowrap;
        justify-content:space-between;

        height:100px;
        flex-wrap:nowrap;

    }
    
    .logo{
        display:flex;
        flex:0 1 30%;
        order:1;
        max-width:160px;
        padding:0;
        padding-left:20px;
        
    }
    
    .navList{
        display:flex;
        text-align:center;
        flex:0 1 30%;
        justify-content:space-between;
        order:2;
        align-self:center;
        width:300px;
        border-top-style:hidden;
    
    
    
    }
    
    .navList li{
        display:flex;
    }
    
    .shopping-cart{
        display:flex;
        flex:0 1 20%;
        order:3;
        max-width:65px;
     
    }

.header-container > .logo {order:1;}
.header-container > .navList {order:2;}
.header-container > .shopping-cart {order:3;}

.banner{

    background: url("images/banner-girl.png"), linear-gradient(180deg,rgba(0,0,0,.25))
                url("images/flower-bkgd.jpg"), linear-gradient(0deg,rgba(0,0,0,.25));
    background-repeat: no-repeat, repeat-x;
    background-size: contain,cover;
    background-position: bottom center;
    height: 550px;
    width:100%;
    text-align: center;
    top:50%;
    line-height:15px;

    
}

.season{
    font-size: 4rem;
    font-weight:normal;
    font-family: "Playfair Display";
    width:100%
}

.most-loved{
    text-align:center;
    font-size: 2.5rem;
    font-style: italic;
    font-family: "Playfair Display";
    font-weight:normal;
    margin-top:60px;
    margin-bottom:70px;
}

.about-text-container h2{
font-size:2.5rem;

}

.about-text-container {
    font-size:1.2rem;
    text-align:center;

    }

.text-for-HCS{

    width:700px;
    font-weight:lighter;
   
    
}

.span-style{
    font-size:2.5rem;
}

.shop-container{
    display: grid;
    grid-template-rows:300px 300px;
    grid-gap:6px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas:"mens mens trends glasses"
    "sales bags womens womens";
}


.product-mens{

    background: url(images/mens-category.jpg);
    background-size: cover;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:mens;
}
.product-trends{

   background:url(images/trends-category.jpg);
   background-size: cover;
   display:flex;
   align-items:center;
   justify-content:center;
    color:white;
    font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:trends;
}

.product-glasses{

    background:url(images/glasses-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:glasses;
}

.product-sale{

    background:url(images/sale-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:sales;
}

.product-bags{

    background:url(images/bags-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:bags;
}

.product-women{

    background: url(images/womens-category.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;
     color:white;
     font-weight:normal;
    font-size:2.3rem;
    background-repeat: no-repeat;
    grid-area:womens;
    

}

.carousel{
    height:400px;
    margin-bottom:75px;
    text-align:center;

}

.sign-up-body{
    color:white;
    width:650px;
    font-size:1.1rem;
    font-weight: 350;
    margin-bottom:40px;
}

.sign-up-title{
    font-family: "Playfair Display";
    font-size:2.3rem;
    color:white;
    font-style:italic;
    font-weight:normal;
    margin-bottom:30px;

}





.footer{
    text-align:left;
}

.footer-container{
    font-family: "Playfair Display";
    align-items:center;
    height:300px;
    background-color:#242424;
    color:white;
    border:1px solid;
    padding-left:50px;
    padding-right:30px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    



}

.about{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    font-size:1rem;
    padding-bottom:90px;


}

.copyright{
    
}

.contact{
    padding:0;
  
}

.social-media{
    list-style-type:none;
    font-family:"Raleway";
    display:flex;
    padding-right:4em;
    flex-direction:column;
    font-size:1rem;
    padding-bottom:40px;
    font-weight:lighter;
    line-height:35px;
    

}

.cancel-social {
    visibility: visible
}



